.ph__header {
  &__content {
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
  }
  &__logo {
    font-family: "Lora", "Times New Roman", Times, serif;
    font-size: 120px;
    @media (max-width: 1024px) {
      font-size: 80px;
    }
    @media (max-width: 700px) {
      font-size: 60px;
    }
  }
  &__options-contrast {
    font-family: "Lora", "Times New Roman", Times, serif;
    font-size: 20px;
    position: fixed;
    right: 40px;
    top: 105px;
    margin-top: 0px;
    transform: rotate(-90deg);
    transform-origin: right, top;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin: right, top;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: right, top;
    z-index: 3;
    @media (max-width: 700px) {
      right: 10px;
      font-size: 18px;
    }
    span {
      cursor: pointer;
    }
    .active {
      font-weight: bold;
      border-bottom: 2px solid #000;
      &:hover {
        border-color: transparent;
      }
    }
  }
}

.ph__bio {
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
}
